In [7]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [8]:
df=pd.read_csv('/content/tested.csv')
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [9]:
df.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
5,897,0,3,"Svensson, Mr. Johan Cervin",male,14.0,0,0,7538,9.2250,NaN,S
6,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
7,899,0,2,"Caldwell, Mr. Albert Francis",male,26.0,1,1,248738,29.0000,NaN,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
9,901,0,3,"Davies, Mr. John Samuel",male,21.0,2,0,A/4 48871,24.1500,NaN,S

In [10]:
df.tail(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
408,1300,1,3,"Riordan, Miss. Johanna Hannah""""",female,NaN,0,0,334915,7.7208,NaN,Q
409,1301,1,3,"Peacock, Miss. Treasteall",female,3.0,1,1,SOTON/O.Q. 3101315,13.7750,NaN,S
410,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
411,1303,1,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.0,1,0,19928,90.0000,C78,Q
412,1304,1,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S
413,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
416,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
417,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
 2   Pclass       418 non-null    int64
 3   Name         418 non-null    object
 4   Sex          418 non-null    object
 5   Age          332 non-null    float64
 6   SibSp        418 non-null    int64
 7   Parch        418 non-null    int64
 8   Ticket       418 non-null    object
 9   Fare         417 non-null    float64
 10  Cabin        91 non-null     object
 11  Embarked     418 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 39.3+ KB

In [13]:
df.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,0.363636,2.265550,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.481622,0.841838,14.181209,0.896760,0.981429,55.907576
min,892.000000,0.000000,1.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,0.000000,1.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,0.000000,3.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,1.000000,3.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,1.000000,3.000000,76.000000,8.000000,9.000000,512.329200

In [14]:
df.shape

(418, 12)

In [15]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [16]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [18]:
df['Age']=df['Age'].fillna(df['Age'].mean())

In [19]:
df['Fare']=df['Fare'].fillna(df['Fare'].mode()[0])

In [20]:
df=df.drop(columns=['Cabin'])

In [21]:
df=df.drop_duplicates()

In [22]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,Q
1,893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,S
2,894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,Q
3,895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,S
4,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...,...
413,1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,S
414,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C
415,1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,S
416,1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,S
417,1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,C

In [23]:
df.set_index('PassengerId')

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
PassengerId,,,,,,,,,,
892,0,3,"Kelly, Mr. James",male,34.50000,0,0,330911,7.8292,Q
893,1,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,S
894,0,2,"Myles, Mr. Thomas Francis",male,62.00000,0,0,240276,9.6875,Q
895,0,3,"Wirz, Mr. Albert",male,27.00000,0,0,315154,8.6625,S
896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,S
...,...,...,...,...,...,...,...,...,...,...
1305,0,3,"Spector, Mr. Woolf",male,30.27259,0,0,A.5. 3236,8.0500,S
1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C
1307,0,3,"Saether, Mr. Simon Sivertsen",male,38.50000,0,0,SOTON/O.Q. 3101262,7.2500,S
1308,0,3,"Ware, Mr. Frederick",male,30.27259,0,0,359309,8.0500,S
1309,0,3,"Peter, Master. Michael J",male,30.27259,1,1,2668,22.3583,C

In [24]:
df.sort_values(by=['Age'],ascending=False)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
96,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.00,1,0,19877,78.8500,S
81,973,0,1,"Straus, Mr. Isidor",male,67.00,1,0,PC 17483,221.7792,S
236,1128,0,1,"Warren, Mr. Frank Manley",male,64.00,1,0,110813,75.2500,C
179,1071,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.00,0,2,PC 17756,83.1583,C
305,1197,1,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.00,1,1,112901,26.5500,S
...,...,...,...,...,...,...,...,...,...,...,...
250,1142,1,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,S
307,1199,0,3,"Aks, Master. Philip Frank",male,0.83,0,1,392091,9.3500,S
281,1173,0,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,S
201,1093,0,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,S
354,1246,1,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,S

In [25]:
df.sort_values(by=['Name'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
392,1284,0,3,"Abbott, Master. Eugene Joseph",male,13.00000,0,2,C.A. 2673,20.2500,S
345,1237,1,3,"Abelseth, Miss. Karen Marie",female,16.00000,0,0,348125,7.6500,S
57,949,0,3,"Abelseth, Mr. Olaus Jorgensen",male,25.00000,0,0,348122,7.6500,S
251,1143,0,3,"Abrahamsson, Mr. Abraham August Johannes",male,20.00000,0,0,SOTON/O2 3101284,7.9250,S
8,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00000,0,0,2657,7.2292,C
...,...,...,...,...,...,...,...,...,...,...,...
336,1228,0,2,"de Brito, Mr. Jose Joaquim",male,32.00000,0,0,244360,13.0000,S
260,1152,0,3,"de Messemaeker, Mr. Guillaume Joseph",male,36.50000,1,0,345572,17.4000,S
15,907,1,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",female,24.00000,1,0,SC/PARIS 2167,27.7208,C
344,1236,0,3,"van Billiard, Master. James William",male,30.27259,1,1,A/5. 851,14.5000,S
192,1084,0,3,"van Billiard, Master. Walter John",male,11.50000,1,1,A/5. 851,14.5000,S

In [26]:
df['Age'].describe()

count    418.000000
mean      30.272590
std       12.634534
min        0.170000
25%       23.000000
50%       30.272590
75%       35.750000
max       76.000000
Name: Age, dtype: float64

In [27]:
sta=df.groupby(['Sex'])
sta['Age'].value_counts()

Sex     Age
female  30.27259    25
        22.00000    10
        45.00000     7
        18.00000     7
        30.00000     6
                    ..
male    11.50000     1
        14.50000     1
        19.00000     1
        22.50000     1
        67.00000     1
Name: count, Length: 117, dtype: int64

In [28]:
df['Sex'].value_counts()

Sex
male      266
female    152
Name: count, dtype: int64

In [29]:
df['Survived']=df['Survived'].map({0:"No",1:"Yes"})

In [30]:
df['Survived'].value_counts()

Survived
No     266
Yes    152
Name: count, dtype: int64

In [31]:
sta['Survived'].value_counts()

Sex     Survived
female  Yes         152
male    No          266
Name: count, dtype: int64

In [32]:
filt=df['Age']<18
df[filt]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
5,897,No,3,"Svensson, Mr. Johan Cervin",male,14.00,0,0,7538,9.2250,S
21,913,No,3,"Olsen, Master. Artur Karl",male,9.00,0,1,C 17368,3.1708,S
55,947,No,3,"Rice, Master. Albert",male,10.00,4,1,382652,29.1250,Q
60,952,No,3,"Dika, Mr. Mirko",male,17.00,0,0,349232,7.8958,S
64,956,No,1,"Ryerson, Master. John Borie",male,13.00,2,2,PC 17608,262.3750,C
80,972,No,3,"Boulos, Master. Akar",male,6.00,1,1,2678,15.2458,C
89,981,No,2,"Wells, Master. Ralph Lester",male,2.00,1,1,29103,23.0000,S
104,996,Yes,3,"Thomas, Mrs. Alexander (Thamine Thelma"")""",female,16.00,1,1,2625,8.5167,C
117,1009,Yes,3,"Sandstrom, Miss. Beatrice Irene",female,1.00,1,1,PP 9549,16.7000,S
120,1012,Yes,2,"Watt, Miss. Bertha J",female,12.00,0,0,C.A. 33595,15.7500,S
125,1017,Yes,3,"Cribb, Miss. Laura Alice",female,17.00,0,1,371362,16.1000,S
140,1032,Yes,3,"Goodwin, Miss. Jessie Allis",female,10.00,5,2,CA 2144,46.9000,S
154,1046,No,3,"Asplund, Master. Filip Oscar",male,13.00,4,2,347077,31.3875,S
161,1053,No,3,"Touma, Master. Georges Youssef",male,7.00,1,1,2650,15.2458,C
175,1067,Yes,2,"Brown, Miss. Edith Eileen",female,15.00,0,2,29750,39.0000,S
187,1079,No,3,"Davies, Mr. Joseph",male,17.00,2,0,A/4 48873,8.0500,S
192,1084,No,3,"van Billiard, Master. Walter John",male,11.50,1,1,A/5. 851,14.5000,S
194,1086,No,2,"Drew, Master. Marshall Brines",male,8.00,0,2,28220,32.5000,S
196,1088,No,1,"Spedden, Master. Robert Douglas",male,6.00,0,2,16966,134.5000,C
201,1093,No,3,"Danbom, Master. Gilbert Sigvard Emanuel",male,0.33,0,2,347080,14.4000,S
203,1095,Yes,2,"Quick, Miss. Winifred Vera",female,8.00,1,1,26360,26.0000,S
212,1104,No,2,"Deacon, Mr. Percy William",male,17.00,0,0,S.O.C. 14879,73.5000,S
230,1122,No,2,"Sweet, Mr. George Frederick",male,14.00,0,0,220845,65.0000,S
250,1142,Yes,2,"West, Miss. Barbara J",female,0.92,1,2,C.A. 34651,27.7500,S
263,1155,Yes,3,"Klasen, Miss. Gertrud Emilia",female,1.00,1,1,350405,12.1833,S
269,1161,No,3,"Pokrnic, Mr. Mate",male,17.00,0,0,315095,8.6625,S
281,1173,No,3,"Peacock, Master. Alfred Edward",male,0.75,1,1,SOTON/O.Q. 3101315,13.7750,S
283,1175,Yes,3,"Touma, Miss. Maria Youssef",female,9.00,1,1,2650,15.2458,C
284,1176,Yes,3,"Rosblom, Miss. Salli Helena",female,2.00,1,1,370129,20.2125,S
296,1188,Yes,2,"Laroche, Miss. Louise",female,1.00,1,2,SC/Paris 2123,41.5792,C
307,1199,No,3,"Aks, Master. Philip Frank",male,0.83,0,1,392091,9.3500,S
315,1207,Yes,3,"Hagardon, Miss. Kate",female,17.00,0,0,AQ/3. 30631,7.7333,Q
326,1218,Yes,2,"Becker, Miss. Ruth Elizabeth",female,12.00,2,1,230136,39.0000,S
345,1237,Yes,3,"Abelseth, Miss. Karen Marie",female,16.00,0,0,348125,7.6500,S
354,1246,Yes,3,"Dean, Miss. Elizabeth Gladys Millvina""""",female,0.17,1,2,C.A. 2315,20.5750,S
360,1252,No,3,"Sage, Master. William Henry",male,14.50,8,2,CA. 2343,69.5500,S
379,1271,No,3,"Asplund, Master. Carl Edgar",male,5.00,4,2,347077,31.3875,S
389,1281,No,3,"Palsson, Master. Paul Folke",male,6.00,3,1,349909,21.0750,S
392,1284,No,3,"Abbott, Master. Eugene Joseph",male,13.00,0,2,C.A. 2673,20.2500,S
403,1295,No,1,"Carrau, Mr. Jose Pedro",male,17.00,0,0,113059,47.1000,S
409,1301,Yes,3,"Peacock, Miss. Treasteall",female,3.00,1,1,SOTON/O.Q. 3101315,13.7750,S

In [33]:
df.loc[filt,'Age'].count()

41

In [34]:
has_survived=df['Survived'].str.contains('Yes')
df[has_survived]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
1,893,Yes,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.00000,1,0,363272,7.0000,S
4,896,Yes,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.00000,1,1,3101298,12.2875,S
6,898,Yes,3,"Connolly, Miss. Kate",female,30.00000,0,0,330972,7.6292,Q
8,900,Yes,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.00000,0,0,2657,7.2292,C
12,904,Yes,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",female,23.00000,1,0,21228,82.2667,S
...,...,...,...,...,...,...,...,...,...,...,...
409,1301,Yes,3,"Peacock, Miss. Treasteall",female,3.00000,1,1,SOTON/O.Q. 3101315,13.7750,S
410,1302,Yes,3,"Naughton, Miss. Hannah",female,30.27259,0,0,365237,7.7500,Q
411,1303,Yes,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",female,37.00000,1,0,19928,90.0000,Q
412,1304,Yes,3,"Henriksson, Miss. Jenny Lovisa",female,28.00000,0,0,347086,7.7750,S
414,1306,Yes,1,"Oliva y Ocana, Dona. Fermina",female,39.00000,0,0,PC 17758,108.9000,C

In [35]:
# how many people has/not survived in age <18
has_survived[filt].value_counts()

Survived
False    24
True     17
Name: count, dtype: int64

In [36]:
filt2=df['Age']>60
df[filt2]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked
2,894,No,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,Q
13,905,No,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,S
81,973,No,1,"Straus, Mr. Isidor",male,67.0,1,0,PC 17483,221.7792,S
96,988,Yes,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,S
114,1006,Yes,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,0,PC 17483,221.7792,S
142,1034,No,1,"Ryerson, Mr. Arthur Larned",male,61.0,1,3,PC 17608,262.3750,C
152,1044,No,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,7.7500,S
179,1071,Yes,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,PC 17756,83.1583,C
193,1085,No,2,"Lingane, Mr. John",male,61.0,0,0,235509,12.3500,Q
236,1128,No,1,"Warren, Mr. Frank Manley",male,64.0,1,0,110813,75.2500,C
305,1197,Yes,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,112901,26.5500,S

In [37]:
df.loc[filt2,'Age'].count()

11

In [38]:
# how many people has/not survived in age >60
has_survived[filt2].value_counts()

Survived
False    7
True     4
Name: count, dtype: int64

In [39]:
filt_femal=df['Sex']=='female'

In [40]:
has_survived[filt_femal].value_counts()

Survived
True    152
Name: count, dtype: int64

In [41]:
filt_mal=df['Sex']=='male'

In [42]:
has_survived[filt_mal].value_counts()

Survived
False    266
Name: count, dtype: int64